DATABASE_HOST=<ip address of the database node>
POSTGRES_PASSWORD=<password of the postgres database>
IP_ADDRESS=<ip address of the current node>
LOG_FOLDER=<path to log file destination>
PERFORMANCE_FOLDER=<path to performance log file destination>